<ul>
    <% Object.keys(blocks).forEach(function(block){ %>
      <h1><%= block %></h1>
      <ul>
        <% blocks[block].forEach(function(value){ %>
            <li><a href="/presentation/<%= value.filename %>"><%= value.title %></a> <a href="/pdf/<%= value.filename %>">(PDF)</a> </li>
        <% }); %>
        </ul>
    <% }); %>
</ul>

<p>Вы можете отправил MR или Issue через gitlab: <a href="https://gitlab.com/siriusfreak/presentations"> https://gitlab.com/siriusfreak/presentations</a></p>